<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sistema de detección de incendios - Inicio de sesión">
    <meta name="author" content="Autor">
    <title>Sistema de Detección de Incendios - Inicio de Sesión</title>
    <!-- Fuentes personalizadas para esta plantilla -->
    <link href="../public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Estilos personalizados para esta plantilla -->
    <link href="../public/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Fila exterior -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Fila anidada dentro del cuerpo de la tarjeta -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img src="https://s1.1zoom.me/b5056/1000/USA_Mountains_Lake_Stones_Autumn_Scenery_Colorado_563975_600x800.jpg"
                                    style="width: 400px;">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido, Administrador</h1>
                                    </div>
                                    <form action="/login/administrador" method="POST" class="user">
                                        <div class="form-group">
                                            <input type="email" 
                                                   class="form-control form-control-user" 
                                                   id="email_usuario" 
                                                   name="email_usuario" 
                                                   aria-describedby="emailHelp" 
                                                   placeholder="Introduce tu correo electrónico">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" 
                                                   class="form-control form-control-user" 
                                                   id="contrasenia_usuario" 
                                                   name="contrasenia_usuario" 
                                                   placeholder="Introduce tu contraseña">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Iniciar sesión
                                        </button>
                                    </form>


                                    <!-- modal para mostrar error -->
                                    <script>
                                        <% if (typeof credenciales_incorrectas !== 'undefined' && credenciales_incorrectas === true) { %>
                                          Swal.fire({
                                            title: 'Error!',
                                            text: 'Email o contraseña incorrectos.',
                                            icon: 'error',
                                            confirmButtonText: 'Aceptar'
                                          });
                                        <% } %>
                                      </script>
                                    <!-- modal para mostrar error -->
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/login/responsable">¿No eres administrador?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- JavaScript principal de Bootstrap -->
    <script src="../public/vendor/jquery/jquery.min.js"></script>
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Complemento principal de JavaScript -->
    <script src="../public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Scripts personalizados para todas las páginas -->
    <script src="../public/js/sb-admin-2.min.js"></script>

</body>

</html>